<template>
      <div class="col-xs-12 q-py-md" style="width: 500px;">
        <form>
          <q-input
            rounded
            outlined
            dense
            class="WAL__field full-width"
            bg-color="white"
            placeholder="Search or start a new conversation"
          >
            <template slot="prepend">
              <q-icon name="search" />
            </template>
          </q-input>
        </form>
      </div>
</template>

<script>
export default {
  name: 'Search'
}
</script>
