<template>
    <WrapPage>
        <Calendar></Calendar>
    </WrapPage>
</template>

<script>
import Calendar from '../components/Calendar'
import WrapPage from '../components/WrapPage'
export default {
  name: 'CalendarPage',
  components: {
    Calendar,
    WrapPage
  }
}
</script>
