<template>
  <WrapPage>
    <div class="row q-col-gutter-x-lg">
      <div class="col-7">
        <q-card class="bg-grey-9 my-card q-pa-md">
          <q-card-section class="bg-grey-9 text-white q-pl-xs q-px-none">
            <div class="text-h6">Коммиты на GitHub</div>
          </q-card-section>
          <Chart :chartData="data" :labels="labels" border="#5e72e4" label="Коммиты на GitHub"></Chart>
        </q-card>
      </div>
      <div class="col-5">
        <q-card class="my-card q-pa-md">
          <q-card-section class="bg-white text-gray q-pl-xs q-px-none">
            <div class="text-h6">GitHub Commits</div>
          </q-card-section>
          <ChartBar></ChartBar>
        </q-card>
      </div>
    </div>
  </WrapPage>
</template>

<script>
import Chart from '../../src/components/Chart'
import ChartBar from '../../src/components/ChartBar'

import WrapPage from '../components/WrapPage'
export default {
  name: 'Dashboard',
  components: {
    Chart,
    ChartBar,
    WrapPage
  },
  data () {
    return {
      labels: [
        'Январь',
        'Февраль',
        'Март',
        'Апрель',
        'Май',
        'Июнь',
        'Июль',
        'Август',
        'Сентябрь',
        'Октябрь',
        'Ноябрь',
        'Декабрь'
      ],
      data: [40, 30, 20, 39, 15, 40, 39, 60, 40, 20, 30, 11]
    }
  }
}
</script>
