<template>
  <q-page class="q-pa-md q-mt-lg">
    <q-card class="my-card">
      <q-toolbar class="bg-green-6 text-white rounded-borders">
        <q-toolbar-title>Natifications</q-toolbar-title>
      </q-toolbar>
      <q-card-section>
        <div class="row q-gutter-sm">
        <q-btn no-caps unelevated color="positive" @click="triggerPositive" label="Trigger 'positive'" />
        <q-btn no-caps unelevated color="negative" @click="triggerNegative" label="Trigger 'negative'" />
        <q-btn no-caps unelevated color="warning" text-color="dark" @click="triggerWarning" label="Trigger 'warning'" />
        <q-btn no-caps unelevated color="info" @click="triggerInfo" label="Trigger 'info'" />
        </div>
      </q-card-section>

    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'NatificationsPage',
  methods: {
    triggerPositive () {
      this.$q.notify({
        position: 'top-right',
        type: 'positive',
        message: 'This is a "positive" type notification.'
      })
    },

    triggerNegative () {
      this.$q.notify({
        position: 'top',
        type: 'negative',
        message: 'This is a "negative" type notification.'
      })
    },

    triggerWarning () {
      this.$q.notify({
        type: 'warning',
        message: 'This is a "warning" type notification.'
      })
    },

    triggerInfo () {
      this.$q.notify({
        position: 'top-left',
        type: 'info',
        message: 'This is a "info" type notification.',
        actions: [
          { icon: 'close', color: 'white', handler: () => { /* ... */ } }
        ]
      })
    }
  }
}
</script>
