<template>
  <WrapPage>
    <q-table
      title="Treats"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
      :selected-rows-label="getSelectedString"
      :selected.sync="selected"
      selection="multiple"
    >
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
  </WrapPage>
</template>

<script>
import WrapPage from '../components/WrapPage'
import { mapState } from 'vuex'
export default {
  name: 'Table',
  computed: {
    ...mapState('index', ['data', 'columns'])
  },
  components: {
    WrapPage
  },
  data () {
    return {
      filter: '',
      selected: []
    }
  },
  methods: {
    getSelectedString () {
      return this.selected.length === 0
        ? ''
        : `${this.selected.length} record${
          this.selected.length > 1 ? 's' : ''
        } selected of ${this.data.length}`
    }
  }
}
</script>
