<template>
    <WrapPage>
      <div class="row  q-col-gutter-xl">
        <EditUser></EditUser>
        <UserCard :userData="userData"></UserCard>
      </div>

    </WrapPage>
</template>

<script>
import EditUser from '../components/EditUser'
import UserCard from '../components/UserCard'
import WrapPage from '../components/WrapPage'
export default {
  name: 'UserPage',
  components: {
    UserCard,
    WrapPage,
    EditUser
  },
  data () {
    return {
      userData: {
        userName: 'John Doe'
      }
    }
  }
}
</script>
