<template>
  <q-card class="my-card" style="max-width: 400px;">
    <q-toolbar class="bg-primary text-white">
      <q-toolbar-title>Add Event</q-toolbar-title>
      <q-btn flat v-close-popup round dense icon="close" />
    </q-toolbar>
    <q-form @submit="addEvent">
      <q-card-section class="row q-col-gutter-x-md">
        <div class="col-12">
          <q-input
            ref="title"
            v-model="eventForm.title"
            label="Title"
            :rules="[val => !!val || 'Field is required']"
          />
        </div>
        <div class="col-12">
          <q-input v-model="eventForm.details" label="Details" />
        </div>
        <div>
          <q-checkbox v-model="eventForm.allDay" label="All-Day event?"></q-checkbox>
        </div>
        <div class="q-mt-md" :class="[eventForm.allDay ? 'col-12' : 'col-8']">
          <q-input
            :rules="[val => !!val || 'Event start date']"
            outlined
            v-model="eventForm.startDate"
            type="date"
            hint="Event start date"
          />
        </div>
        <div class="q-mt-md col-4" v-if="!eventForm.allDay">
          <q-input
            :rules="[val => !!val || 'Event start time']"
            v-model="eventForm.timeStart"
            outlined
            type="time"
            hint="Start time"
          />
        </div>
        <div v-if="!eventForm.allDay" class="q-mt-md col-8">
          <q-input
            :rules="[val => !!val || 'Field is required']"
            x
            outlined
            v-model="eventForm.endDate"
            type="date"
            hint="Event end date"
          />
        </div>
        <div v-if="!eventForm.allDay" class="col-4 q-mt-md">
          <q-input
            :rules="[val => !!val || 'Field is required']"
            v-model="eventForm.timeEnd"
            outlined
            type="time"
            hint="End time"
          />
        </div>
        <div class="col-12">
          <q-input v-model="eventForm.bgcolor" outlined class="q-mt-md" label="Color">
            <template v-slot:append>
              <q-icon name="colorize" class="cursor-pointer">
                <q-popup-proxy>
                  <q-color v-model="eventForm.bgcolor" class="my-picker" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="OK" type="submit" color="primary"></q-btn>
        <q-btn flat label="Cancel" color="primary" v-close-popup></q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { uid } from 'quasar'
import { padTime } from '../util/time'

const formDefault = {
  title: '',
  details: '',
  startDate: '',
  endDate: '',
  timeStart: '',
  timeEnd: '',
  bgcolor: '#0000FF',
  allDay: false
}
export default {
  name: 'AddEvent',
  props: ['dateTimeStart', 'createEvent', 'getDuration'],
  data () {
    return {
      eventForm: { ...formDefault }
    }
  },
  methods: {
    addEvent () {
      const form = { ...this.eventForm }
      const data = {
        title: form.title,
        details: form.details,
        bgcolor: form.bgcolor,
        date: form.startDate,
        id: uid()
      }
      if (form.allDay === false) {
        data.time = form.timeStart
        data.duration = this.getDuration(
          form.startDate + ' ' + form.timeStart,
          form.endDate + ' ' + form.timeEnd,
          'minutes'
        )
      }
      this.createEvent(data)
    },
    formatTime (date) {
      const d = date !== undefined ? new Date(date) : new Date(),
        hours = '' + d.getHours(),
        minutes = '' + d.getMinutes()
      return [padTime(hours), padTime(minutes)].join(':')
    }
  },

  mounted () {
    this.eventForm.startDate = this.dateTimeStart ? this.dateTimeStart : ''
  }
}
</script>
