<template>
  <q-page>
    <q-dialog v-model="isOpen">
      <q-card class="my-card q-card" v-if="event">
        <q-toolbar
          :class="displayClasses(event)"
          :style="displayStyles(event)"
          style="min-width: 400px;"
        >
          <q-toolbar-title>{{ event.title }}</q-toolbar-title>
          <q-btn
            flat
            round
            color="white"
            v-close-popup
            @click="deleteEvent(event.id)"
            icon="delete"
          ></q-btn>
          <q-btn flat round color="white" @click="showEditEvent" v-close-popup icon="edit"></q-btn>
          <q-btn flat round dense color="white" icon="cancel" v-close-popup></q-btn>
        </q-toolbar>
        <q-card-section>
          <p>{{ event.details }}</p>
          <div v-if="event.time" class="row">
            <div class="col-5">
              <strong>Start time:</strong>
            </div>
            <div class="col-7">{{ event.time }}</div>
            <div class="col-5">
              <strong>End time:</strong>
            </div>
            <div class="col-7">{{ getEndTime(event)}}</div>
            <div class="col-5">
              <strong>Duration:</strong>
            </div>
            <div class="col-7">{{ convertDurationTime(event.duration) }}</div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="addEvent">
      <AddEvent
       :dateTimeStart="dateTimeStart"
       :createEvent="createEvent"
       :getDuration="getDuration"
       ></AddEvent>
    </q-dialog>

    <q-dialog v-model="showEdit">
       <EditEvent
        :event="event"
        :formatDate="formatDate"
        :getEndTime="getEndTime"
        :getDuration="getDuration"
        >
        </EditEvent>
    </q-dialog>

    <q-card class="my-card" style>
      <q-separator />
      <q-toolbar>
        <q-btn stretch flat icon="keyboard_arrow_left" @click="calendarPrev" />
        <q-btn stretch flat icon="keyboard_arrow_right" @click="calendarNext" />
        <q-toolbar-title class="text-right">{{ title }}</q-toolbar-title>
        <q-space />
      </q-toolbar>
      <q-separator />
      <div style="overflow: hidden">
        <q-calendar
          ref="calendar"
          v-model="selectedDate"
          view="month"
          animated
          mini-mode="auto"
          transition-prev="slide-right"
          transition-next="slide-left"
          show-day-of-year-label
          @click:day="addEventMenu"
        >
          <template #day="{ date }">
            <template v-for="(event, index) in getEvents(date)">
              <q-badge
                :key="index"
                style="width: 100%; cursor: pointer; height: 16px; max-height: 16px"
                class="q-event"
                :class="badgeClasses(event, 'day')"
                :style="badgeStyles(event, 'day')"
                @click.stop.prevent="showEvent(event)"
              >
                <span class="ellipsis">{{ event.title }}</span>
              </q-badge>
            </template>
          </template>
        </q-calendar>
      </div>
    </q-card>
  </q-page>
</template>

<style src="@quasar/quasar-ui-qcalendar/dist/index.css"></style>
<style lang="scss">
.q-calendar-daily__day-interval:hover,
.q-calendar-weekly__day:hover,
.q-calendar-weekly__head-weekday:hover,
.q-calendar-weekly__workweek:hover {
  background-color: rgba(0, 0, 255, 0.1);
}
</style>

<script>
import AddEvent from '../components/AddEvent'
import EditEvent from '../components/EdiEvent'
import { padTime } from '../util/time'
import { isCssColor } from '../util/color'
import { date, colors } from 'quasar'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Calendar',
  data () {
    return {
      selectedDate: '',
      dateFormatter: 0,
      titleFormatter: 0,
      locale: 'en-us',
      event: null,
      isOpen: false,
      addEvent: false,
      showEdit: false,
      contextDay: null,
      dateTimeStart: ''
    }
  },
  methods: {
    calendarNext () {
      this.$refs.calendar.next()
    },
    calendarPrev () {
      this.$refs.calendar.prev()
    },
    formatDate (date) {
      const d = date !== undefined ? new Date(date) : new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()
      return [year, padTime(month), padTime(day)].join('-')
    },
    formatTime (date) {
      const d = date !== undefined ? new Date(date) : new Date(),
        hours = '' + d.getHours(),
        minutes = '' + d.getMinutes()
      return [padTime(hours), padTime(minutes)].join(':')
    },
    getEvents (dt) {
      const events = []
      for (let i = 0; i < this.events.length; ++i) {
        let added = false
        if (this.events[i].date === dt) {
          if (this.events[i].time) {
            if (events.length > 0) {
              // check for overlapping times

              const startTime = new Date(
                this.events[i].date + ' ' + this.events[i].time
              )
              const endTime = date.addToDate(startTime, {
                minutes: this.events[i].duration
              })
              for (let j = 0; j < events.length; ++j) {
                const startTime2 = new Date(
                  events[j].date + ' ' + events[j].time
                )
                const endTime2 = date.addToDate(startTime2, {
                  minutes: events[j].duration
                })
                if (
                  date.isBetweenDates(startTime, startTime2, endTime2) ||
                  date.isBetweenDates(endTime, startTime2, endTime2)
                ) {
                  events[j].side = 'left'
                  this.events[i].side = 'right'
                  events.push(this.events[i])
                  added = true
                  break
                }
              }
            }
          }
          if (!added) {
            events.push(this.events[i])
          }
        } else if (this.events[i].days) {
          const startDate = new Date(this.events[i].date)
          const endDate = date.addToDate(startDate, {
            days: this.events[i].days
          })
          if (date.isBetweenDates(dt, startDate, endDate)) {
            events.push(this.events[i])
            added = true
          }
        }
      }
      return events
    },
    getEndTime (event) {
      let endTime = new Date(event.date + ' ' + event.time)
      endTime = date.addToDate(endTime, { minutes: event.duration })
      endTime = date.formatDate(endTime, 'HH:mm')
      return endTime
    },
    getDuration (dateTimeStart, dateTimeEnd, unit) {
      const start = new Date(dateTimeStart)
      const end = new Date(dateTimeEnd)
      const diff = date.getDateDiff(end, start, unit)
      return diff
    },
    convertDurationTime (n) {
      const num = n
      const days = Math.floor(((num / 60) / 24))
      const hours = (num / 60)
      const rhours = Math.floor(hours)
      const rshours = Math.floor(hours - (days * 24))
      const minutes = (hours - rhours) * 60
      const rminutes = Math.round(minutes)
      return (days > 0 ? days + ' days and ' : '') + (rshours > 0 ? rshours + ' hour(s) and ' : '') + rminutes + ' minute(s).'
    },
    adjustTimestamp (day) {
      day.minute = day.minute < 15 || day.minute >= 45 ? 0 : 30
      return day
    },
    getTimestamp (day) {
      return (
        day.date +
        ' ' +
        padTime(day.hour) +
        ':' +
        padTime(day.minute) +
        ':00.000'
      )
    },
    badgeClasses (event, type) {
      const cssColor = isCssColor(event.bgcolor)
      const isHeader = type === 'header'
      return {
        [`text-white bg-${event.bgcolor}`]: !cssColor,
        'full-width': !isHeader && (!event.side || event.side === 'full'),
        'left-side': !isHeader && event.side === 'left',
        'right-side': !isHeader && event.side === 'right'
      }
    },
    badgeStyles (event, type, timeStartPos, timeDurationHeight) {
      const s = {}
      if (isCssColor(event.bgcolor)) {
        s['background-color'] = event.bgcolor
        s.color = colors.luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
      }
      if (timeStartPos) {
        s.top = timeStartPos(event.time) + 'px'
      }
      if (timeDurationHeight) {
        s.height = timeDurationHeight(event.duration) + 'px'
      }
      s['align-items'] = 'flex-start'
      return s
    },
    displayClasses (event) {
      return {
        [`bg-${event.bgcolor}`]: !isCssColor(event.bgcolor),
        'text-white': !isCssColor(event.bgcolor)
      }
    },
    displayStyles (event) {
      const s = {}
      if (isCssColor(event.bgcolor)) {
        s['background-color'] = event.bgcolor
        s.color = colors.luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
      }
      return s
    },
    showEvent (event) {
      this.event = event

      this.isOpen = !this.isOpen
    },
    updateFormatters () {
      try {
        this.dateFormatter = new Intl.DateTimeFormat(this.locale || 0, {
          year: 'numeric',
          month: '2-digit',
          day: '2-digit',
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit',
          hour12: false,
          timeZone: 'UTC'
        })
        this.titleFormatter = new Intl.DateTimeFormat(this.locale || 0, {
          month: this.$refs.calendar.shortMonthLabel ? 'short' : 'long',
          year: 'numeric',
          timeZone: 'UTC'
        })
      } catch (e) {
        this.dateFormatter = 0
        this.titleFormatter = 0
      }
    },
    setToday () {
      this.selectedDate = this.formatDate()
    },
    addEventMenu (day) {
      this.contextDay = { ...day }
      let timestamp
      if (this.contextDay.hasTime === true) {
        timestamp = this.getTimestamp(this.adjustTimestamp(this.contextDay))
        const startTime = new Date(timestamp)
        const endTime = date.addToDate(startTime, { hours: 1 })
        this.eventForm.endTime =
          this.formatDate(endTime) + ' ' + this.formatTime(endTime)
      } else {
        timestamp = this.contextDay.date
      }
      this.dateTimeStart = timestamp
      this.addEvent = true
    },
    createEvent (eventData) {
      this.saveEvent(eventData)
      this.addEvent = false
    },
    showEditEvent () {
      this.showEdit = true
    },
    ...mapActions('events', ['saveEvent', 'deleteEvent'])
  },
  computed: {
    ...mapGetters('events', ['events']),
    title () {
      if (this.titleFormatter && this.locale && this.selectedDate) {
        const date = new Date(this.selectedDate)
        return this.titleFormatter.format(date)
      }
      return ''
    },
    calendarView: {
      get () {
        return this.$store.state.calendar.calendarView
      },
      set (view) {
        this.$store.commit('calendar/calendarView', view)
      }
    }
  },
  mounted () {
    this.updateFormatters()
    this.setToday()
  },
  components: {
    AddEvent,
    EditEvent
  }
}
</script>
