<template>
  <q-card class="my-card" style="max-width: 400px;">
    <q-toolbar class="bg-primary text-white">
      <q-toolbar-title>Update Event</q-toolbar-title>
      <q-btn flat v-close-popup round dense icon="close" />
    </q-toolbar>
    <q-form @submit.prevent="updateEvent">
      <q-card-section class="row q-col-gutter-x-md">
        <div class="col-12">
          <q-input
            ref="title"
            v-model="eventForm.title"
            label="Title"
            :rules="[val => !!val || 'Field is required']"
          />
        </div>
        <div class="col-12">
          <q-input v-model="eventForm.details" label="Details" />
        </div>
        <div>
          <q-checkbox v-model="allDay" label="All-Day event?"></q-checkbox>
        </div>
        <div class="q-mt-md" :class="[allDay ? 'col-12' : 'col-8']">
          <q-input
            :rules="[val => !!val || 'Event start date']"
            outlined
            v-model="eventForm.startDate"
            type="date"
            hint="Event start date"
          />
        </div>
        <div class="q-mt-md col-4" v-if="!allDay">
          <q-input
            :rules="[val => !!val || 'Event start time']"
            v-model="eventForm.timeStart"
            outlined
            type="time"
            hint="Start time"
          />
        </div>
        <div v-if="!allDay" class="q-mt-md col-8">
          <q-input
            :rules="[val => !!val || 'Field is required']"
            outlined
            v-model="eventForm.endDate"
            type="date"
            hint="Event end date"
          />
        </div>
        <div v-if="!allDay" class="col-4 q-mt-md">
          <q-input
            :rules="[val => !!val || 'Field is required']"
            v-model="eventForm.timeEnd"
            outlined
            type="time"
            hint="End time"
          />
        </div>
        <div class="col-12">
          <q-input v-model="eventForm.bgcolor" outlined class="q-mt-md" label="Color">
            <template v-slot:append>
              <q-icon name="colorize" class="cursor-pointer">
                <q-popup-proxy>
                  <q-color v-model="eventForm.bgcolor" class="my-picker" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat label="OK" v-close-popup type="submit" color="primary"></q-btn>
        <q-btn flat label="Cancel" color="primary" v-close-popup></q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { date } from 'quasar'
import { mapActions } from 'vuex'

export default {
  name: 'EditEvent',
  data () {
    return {
      allDay: false,
      eventForm: {}
    }
  },
  props: ['event', 'formatDate', 'getEndTime', 'getDuration'],
  mounted () {
    this.setFormData()
  },
  methods: {
    setFormData () {
      const data = {
        title: this.event.title,
        details: this.event.details,
        bgcolor: this.event.bgcolor,
        startDate: this.event.date,
        id: this.event.id
      }

      if (this.event.time) {
        this.allDay = false
        const startD = new Date(this.event.date)
        const endD = date.addToDate(startD, { minutes: this.event.duration })
        data.timeStart = this.event.time
        data.endDate = this.formatDate(endD)
        data.timeEnd = this.getEndTime(this.event)
      } else {
        this.allDay = true
      }
      this.eventForm = data
    },
    updateEvent () {
      const form = { ...this.eventForm }
      const data = {
        title: form.title,
        details: form.details,
        bgcolor: form.bgcolor,
        date: form.startDate,
        id: form.id
      }
      if (this.allDay === false) {
        data.time = form.timeStart
        data.duration = this.getDuration(
          form.startDate + ' ' + form.timeStart,
          form.endDate + ' ' + form.timeEnd,
          'minutes'
        )
      }
      this.editEvent({
        id: this.event.id,
        data: data
      })
    },
    ...mapActions('events', ['editEvent'])
  }
}
</script>
