<template>
  <div class="col-lg-8 col-sm-6 col-xs-12">
    <q-card class="my-card">
       <q-toolbar class="bg-green-6 text-white rounded-borders">
        <q-toolbar-title>Edit Profile</q-toolbar-title>
    </q-toolbar>
      <div class="q-pa-md">
        <form>
          <div>
          <div class="row  q-col-gutter-x-xl q-col-gutter-y-lg">
              <div class="col-lg-4 col-sm-12 col-xs-12">
                <q-input v-model="userName" label="User name" />
              </div>
              <div class="col-lg-4 col-sm-12 col-xs-12">
                <q-input v-model="email" label="Email Address" />
              </div>
              <div class="col-lg-4 col-sm-12 col-xs-12">
                <q-input
                type="tel"
                v-model="phone"
                label="Tel"
                mask="(+###) ### - ######"
                fill-mask
                hint="(+996) ### - ####"
                />
              </div>
              <div class="col-lg-6 col-sm-12 col-xs-12">
                <q-input v-model="firstName" label="Firts name" />
              </div>
              <div class="col-lg-6  col-sm-12 col-xs-12">
                <q-input  v-model="lastName" label="Last name" />
              </div>
              <div class="col-12">
                <q-input  v-model="address" label="Address" />
              </div>
              <div class="col-lg-6 col-sm-12 col-xs-12">
                <q-input  v-model="city" label="City" />
              </div>
              <div class="col-lg-6 col-sm-12 col-xs-12">
                <q-input  v-model="country" label="Country"/>
              </div>
              <div class="col-md-12 text-right">
                  <q-btn class="q-my-md" color="green-6" label="Update profile" />
              </div>
            </div>
          </div>

        </form>
      </div>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'EditUser',
  data () {
    return {
      userName: '',
      email: '',
      phone: '',
      firstName: '',
      lastName: '',
      address: '',
      city: '',
      country: ''
    }
  }
}
</script>
