<template>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <q-card class="my-card row">
      <q-card-section class="col-5 flex flex-center">
        <q-item-section avatar>
          <q-avatar size="100px">
            <img src="https://cdn.quasar.dev/img/avatar.png" />
          </q-avatar>
        </q-item-section>
      </q-card-section>
      <q-card-section class="col-7 q-py-md">
        <div class="text-h5 q-mt-sm q-mb-xs">{{ userData.userName }}</div>
        <div
          class="text-caption text-grey"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  name: 'UserCard',
  props: {
    userData: {
      type: Object
    }
  }
}
</script>
