<template>
  <q-layout view="lhh Lpr fFf">
   <q-header class="bg-grey-3 text-grey-9">
        <q-toolbar class="bg-grey-3 text-grey-9 q-pt-sm">
          <q-btn class="drawer_open q-mr-sm" flat @click="drawer = true" round  icon="keyboard_arrow_left" />
          <q-toolbar-title>{{$route.name}}</q-toolbar-title>
            <q-btn round @click="showSearch('top')" flat icon="search" />
          <q-list>
            <q-btn tag="a" to="/" flat round icon="dashboard"/>
            <q-btn tag="a" to="/natifications" flat round icon="notifications"/>
            <q-btn tag="a" to="/user" flat round icon="person"/>
          </q-list>
        </q-toolbar>
      </q-header>
     <q-drawer
        show-if-above
        v-model="drawer"
        :width="300"
        :breakpoint="880"
        bordered
        content-class="bg-grey-9 text-white"
      >
        <q-scroll-area style="height: calc(100% - 60px); margin-top: 60px;">
          <q-list v-for="(menuItem, index) in menuList" :key="index">

            <q-item tag="a" :to="menuItem.to" clickable  v-ripple>
              <q-item-section avatar>
                <q-icon :name="menuItem.icon" />
              </q-item-section>
              <q-item-section>
                {{ menuItem.label }}
              </q-item-section>
            </q-item>

           <q-separator v-if="menuItem.separator" />

          </q-list>
        </q-scroll-area>
        <div class="absolute-top" style="border-bottom: 1px solid #ccc;">
        <q-toolbar class="bg-grey-9 ">
        <q-item-label header class="text-h5">Dashboard</q-item-label>
          <q-space />
          <q-btn
            round
            flat
            icon="close"
            class="drawer-close"
            @click="drawer = false"
          />
        </q-toolbar>
        </div>
      </q-drawer>
    <q-page-container>
      <q-dialog v-model="isOpen"  :position="position">
       <Search></Search>
      </q-dialog>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import Search from '../components/UI/Modal/Search'
const menuList = [
  {
    icon: 'dashboard',
    label: 'Dashboard',
    to: '/'
  },
  {
    icon: 'person',
    label: 'User Profile',
    to: '/user'
  },
  {
    icon: 'list',
    label: 'Table',
    to: '/table'
  },
  {
    icon: 'notifications',
    label: 'Natification',
    to: '/natifications'
  },
  {
    icon: 'event',
    label: 'Calendar',
    separator: false,
    to: '/calendar'
  }
]
export default {
  name: 'MainLayout',

  data () {
    return {
      drawer: true,
      menuList,
      isOpen: false,
      position: 'top',
      title: 'Dashboard'
    }
  },
  methods: {
    showSearch (position) {
      this.position = position
      this.isOpen = true
    }
  },
  components: {
    Search
  }
}
</script>

<style lang="scss">
  .q-drawer--standard
  .drawer-close {
    display: none;
  }
  .q-drawer {
    .q-router-link--exact-active {
    color: white !important;
    }
  }
  .q-router-link--active {
    color: white !important;
  }
  @media (min-width: 880px) {
    .drawer_open {
      display: none;
    }
  }
  @media (max-width: 880px) {
   .q-header .q-list {
      display: none;
    }
  }
  .q-dialog__inner > div {
    box-shadow: none;
  }
</style>
